
.sobre{
    margin-top: -1vh;
    background-image: url(../img/banner3.png);
    background-size: cover;
    height: 93vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.conteudo{
    text-align: center;
    color: white;
    font-size: xx-large;
    width: 40vw;
    font-weight: 500;
}
.competitivo{
    margin-top: -1vh;
    background-image: url(../img/competitivo.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.titulo{
    color: white;
    font-size: 5vw;
    font-weight: 700;
}
.conteudo_competitivo{
    width: 50vw;
    margin-top: 27vh;
}
.ligas{
    margin-top: -1vh;
    background-image: url(../img/floresta.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.liga{
    height: 60vh;
    width: 20vw;
    background-color: whitesmoke;
    border-radius: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: #ab8115;
    display: flex;
    justify-content: center;
    align-items: center;
}
.op_liga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    margin-top: 4vh;
}
#cblol{
    background-image: url(../img/cblol.png);
    background-size: cover;
    height: 200px;
    width: 275px;
    margin-bottom: 5vh;
}
#lcs{
    background-image: url(../img/lcs.webp);
    background-size: cover;
    height: 411px;
    width: 220px;
}
#lec{
    background-image: url(../img/lec.png);
    background-size: cover;
    height: 330px;
    width: 310px;
}
#lck{
    background-image: url(../img/lck.svg);
    background-size: cover;
    height: 200px;
    width: 280px;
}
#lpl{
    background-image: url(../img/lpl.png);
    background-size: cover;
    height: 160px;
    width: 270px;
}
.cont_liga{
    color: #24737d;
    text-align: center;
    font-size:larger;
    font-weight: bolder;
    font-weight: 400;
    margin: 10px;
}