body{
    background-color: #1c1916;
}
.sobre{
    background-image: url(../assets/img/banner3.png);
    background-size: cover;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-bottom: 3px solid white;
}
.relevancia{
    background-image: url(../assets/img/relevancia.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-bottom: 3px solid white;
}
.conteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.img_conteudo{
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #ab8115;
}
#img_gameplay{
    background-image: url(../assets/img/lol-gameplay.png);
    height: 60vh;
    width: 50vw;
}
#img_comp{
    background-image: url(../assets/img/lol-comp.png);
    height: 70vh;
    width: 40vw;
}
#img_relevancia{
    background-image: url(../assets/img/lol-relevancia.png);
    height: 75vh;
    width: 42vw;
}
.competitivo{
    background-image: url(../assets/img/competitivo.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-bottom: 3px solid white;
}
.titulo{
    color: white;
    font-size: 5vw;
    font-weight: 700;
}
.conteudo_texto{
    width: 40vw;
    text-align: center;
    color: white;
    font-size: xx-large;
     font-weight: 500;
}
#texto_comp{
    width: 50vw;
}
.texto_relevancia{
    width: 35vw;
}
.ligas{
    background-image: url(../assets/img/floresta.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.liga{
    height: 39vh;
    width: 20vw;
    background-color: whitesmoke;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #ab8115;
    display: flex;
    justify-content: center;
    align-items: center;
}
.liga:active{
    transform: scale(1.05);
}
.op_liga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    margin-top: 4vh;
}
#cblol{
    background-image: url(../assets/img/cblol.png);
    background-size: cover;
    height: 170px;
    width: 230px;
    margin-bottom: 5vh;
    margin-left: 1vw;
}
#lcs{
    background-image: url(../assets/img/lcs.webp);
    background-size: cover;
    height: 246px;
    width: 132px;
    margin-left: 2vw;
}
#lec{
    background-image: url(../assets/img/lec.png);
    background-size: cover;
    height: 250px;
    width: 210px;
    margin-right: 1vw;
}
#lck{
    background-image: url(../assets/img/lck.svg);
    background-size: cover;
    height: 160px;
    width: 220px;
    margin-left: 1vw;
}
#lpl{
    background-image: url(../assets/img/lpl.png);
    background-size: cover;
    height: 130px;
    width: 220px;
    margin-left: 1vw;
}
.cont_liga{
    color: #24737d;
    text-align: center;
    font-size:larger;
    font-weight: bolder;
    font-weight: 400;
    margin: 10px;
}