@font-face {
  font-family: 'Beaufort';
  src: url('../assets/font/BeaufortforLOL-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Beaufort';
  src: url('../assets/font/BeaufortforLOL-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Beaufort';
  src: url('../assets/font/BeaufortforLOL-Medium.ttf') format('truetype');
  font-weight: 500;
}
body{
    margin: 0;
}
*{
    font-family: Beaufort,serif;
}
#but_inicio {
    background-image: url(../assets/img/inicio-lol.png);
    background-size: cover;
    height: 35px;
    width: 140px;
    margin-left: 1vw;
}
#but_inicio:hover{
    opacity: 70%;
    transform: scale(1.05);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}

#icon_perfil {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.perfil {
    display: flex;
    flex-direction: row;
    margin-right: 4vw;
}

.info_perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
}

.op_nav_txt {
    font-size: xx-large;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.perfil_txt {
    color: #ab8115;
    font-weight: 500;
    font-size: x-large;
}

hr {
    margin-top: 0vh;
}

.op_nav_txt:hover {
    color: #ab8115;
}